*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

form {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding-bottom: 1rem; */

  /* padding-top: 2rem; */
}
h1 {
  padding-bottom: 2rem;
}
/* .container {
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
} */
.form-container {
  display: flex;
  gap: 3rem;
  /* border: 2px solid red; */
}
/* Name */
p * {
  display: block;
}

/* input[type="text"] */
input {
  appearance: none;
  width: 100%;
  border: 1px solid #333333;
  font-family: inherit;
  font-size: 90%;
}

input:invalid {
  border-color: #990000;
  background-color: #ffdddd;
}

input:focus:invalid {
  outline: none;
}

.error,
.email-error,
.postal-code-error,
.password-error,
.confirm-password-error {
  width: 100%;
  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;
}

.error.active,
.email-error.active,
.postal-code-error.active,
.password-error.active,
.confirm-password-error.active {
  padding: 0.3em;
}

/* Email */
